* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;

}

:root {
    font-size: 32px;
}

body {
    font-family: Arial, Helvetica, sans-serif;  
    background-color: rgb(247, 247, 239);
    overflow: hidden;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    min-height: 100vh;
    padding: 2rem 9% 10rem;

}

.home-content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

span {
    color: blue;
}

.nome1 h1{
    font-size:34px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 1;
    margin-bottom: 4rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img{
    position: relative;
    margin-top: 24px;
    width: 250px;
    border-radius: 10%;
    box-shadow: 0 0 25px rgb(0, 119, 255);
    transition: 0.2s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 50px blue,
                0 0 20px blue;
}
.habil {
    border-radius: 50%;
}

.habil img{
    position: relative;
    margin-top: 24px;
    width: 250px;
    border-radius: 10%;
    box-shadow: 0 0 25px rgb(0, 119, 255);
    transition: 0.2s ease-in-out;
}

.habil img:hover {
    box-shadow: 0 0 50px blue,
                0 0 20px blue;
}

.habilit {
    margin-top: 3rem;
    
}

.habilit h1{
    font-size: 41px;
}
.home-content p{
    font-size:28px;
    font-weight: 100;
    max-width: 110rem;
}

.social-icons button{
    margin-top: 5.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 1.5rem;
    border-radius: 5%;
    background-color: rgb(0, 119, 255);
    box-shadow: 0 0 25px rgb(0, 119, 255);
    color: white;
    transition: 0.3s ease-in-out;
}

.social-icons button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px blue,
                0 0 20px blue;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.home2-content h1{
    font-size:40px;
    font-weight: 700;
    margin-top: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
}

.projetos {
    border-radius: 50%;
}

.projetos img{
    position: relative;
    margin-top: 24px;
    width: 20rem;
    border-radius: 5%;
    box-shadow: 0 0 25px rgb(0, 119, 255);
    transition: 0.2s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 50px blue,
                0 0 20px blue;
}

.rede-social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    width: 1.9rem;
    background: transparent;
    border: 0.2rem solid rgb(247, 247, 239);
    font-size: 1.5rem;
    border-radius: 50%;
    color: rgb(8, 6, 6);
    margin: 3rem 0.2rem 3rem 0;
    transition: 0.2s ease-in-out;
    margin-top: 20px;
}

.rede-social a:hover{

    color: rgb(247, 247, 247);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 30px blue,
                0 0 20px blue;
    background-color: blue;
}

.sobre-eu {

    margin-top: 5rem;
    font-size:20px;
    font-weight: 100;
    max-width: 120rem;
}
.sobre-eu h1{

    margin-top: 2rem;

}

.sobre-eu p{
    
    margin-top:30px;
    font-size: 25px;
}

.tsi {
    margin-top: 5rem;
    font-size:30px;
    font-weight: 100;
    max-width: 120rem;
}

.tsi h3{

    margin-top: 3rem;
}

.tsi p{
    
    margin-top:30px;
    font-size: 25px;
}
.animacao {

    font-size: 1.2rem;
    font-weight: 600;
    min-width: 280px;
}

.animacao span{
    position: relative;

}
.animacao span::before {
    content: 'Desenvolvedor Web';
    color: blue;
    animation: words 15s infinite;
}

.animacao span::after {
    content: "";
    background-color: rgb(247, 247, 239);
    position: absolute;
    width: calc(100% + 5px);
    height: 100%;
    border-left: 3px solid blue;
    right: -8px;
    animation: cursor 0.6s infinite, typing 15s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid blueviolet;
    }
}
@keyframes words {
    0%,
    25%{
        content: 'Desenvolvedor Web';
    }
    26%,
    50%{
        content: "Designer Grafico";
    }
    51%,
    75%{
        content: "Desenhista";
    }
    100%{
        content: "Jogador Caro";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    50%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 5px);
    }
}